@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('../fonts/DejaVu-Sans/DejaVuSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
 
/* Bold */
@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('../fonts/DejaVu-Sans/DejaVuSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
