@font-face {
    font-family: 'Georgia';
    src: url('../fonts/georgia/georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Georgia';
    src: url('../fonts/georgia/georgia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url('../fonts/georgia/georgiab.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Georgia';
    src: url('../fonts/georgia/georgiab.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url('../fonts/georgia/georgiai.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Georgia';
    src: url('../fonts/georgia/georgiai.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Georgia';
    src: url('../fonts/georgia/georgiaz.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Georgia';
    src: url('../fonts/georgia/georgiaz.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
