// REQUIRED ICONS

.icon-logo:before {
  content: "\e9db";
}

.icon-home:before {
  content: "\e902";
}

.icon-archives:before {
  content: "\e922";
}

.icon-tags:before {
  content: "\e936";
}

.icon-about:before {
  content: "\e9b2";
}

.icon-friends:before {
  content: "\e9cb";
}

.icon-feed:before {
  content: "\e9a9";
  //content: "\e604";
}
 
.icon-external-link:before {
  content: "\e9cb";
}

.icon-heart:before {
  content: "\e600";
}

.icon-life:before {
  content: "\e907"
}
