@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/Source-Code-Pro/SourceCodePro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
 
/* Bold */
@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/Source-Code-Pro/SourceCodePro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
