<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=iso-8859-1" />
    <meta name="author" content="Marvin" />
    <meta name="robots" content="all" />

    <title>{{ page.title }}</title>
    
    <style type="text/css" media="all">
        @import "/stylesheets/mojobojo.css";
        @import "/stylesheets/syntax.css";
    </style>
    
</head>

<body id="main">

    <div id="content">
        <div id="header" align="center">
            <h1><a href="/" title="depressedmarvin.com">{{ site.title }}</a></h1>
        </div>
        
        <div id="content_body">
            {{ content }}
        </div>
        
        <div id="footer">
            <div id="navigation">
                <span class="navitem"><a href="http://github.com/niklaus520" title="Marvin's github repo">GitHub</a></span> |
                <span class="navitem"><a href="/resume.html" title="Marvin's resume">Resume</a></span> |
                <span class="navitem"><a href="http://mojobojo.tumblr.com/" title="personal blog">Personal Blog</a></span> |
            </div>
        </div>
    </div>
    
</body>
</html>